<div class="profile" id="<%= dom_id profile %>">
  <%# <p> %>
    <%# <strong>Id:</strong> %>
    <%# <%= profile.id  %>
  <%# </p> %>

  <p>
    <%= image_tag profile.profile_pic.url, width: 100 %>
  </p>

  <p>
    <strong>Никнейм:</strong>
    <%= profile.nick_name %>
  </p>

  <p>
    <strong>Описание:</strong>
    <%= profile.description %>
  </p>

  <p>
    <strong>Местонахождение:</strong>
    <%= profile.location %>
  </p>

</div>
