<div id="<%= dom_id profile %>">
  <p>
    <strong>Id:</strong>
    <%= profile.id %>
  </p>

  <p>
    <strong>Profile pic:</strong>
    <%= profile.profile_pic %>
  </p>

  <p>
    <strong>Nick name:</strong>
    <%= profile.nick_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= profile.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= profile.location %>
  </p>

</div>
