<div id="<%= dom_id profile %>" class="W_Profile">
  <div>
    <% if profile.profile_pic != nil %>
      <%= image_tag profile.profile_pic.url, class: "A_Pfp" %>
    <% end %>
  </div>
  <p class="A_ProfileName">
    <%= profile.nick_name %>
  </p>
  <p class="U_RenderForList">
    <%= profile.description %>
  </p>
  <p class="U_RenderForList">
    <strong>Локация:</strong>
    <%= profile.location %>
  </p>
  <a href="mailto: <%= profile.user.email %>" class="A_ProfileButton">
    <img src="/uploads/linkIcon.svg" alt="">
    Email
  </a>
  <a href="mailto: <%= profile.user.email %>" class="A_ProfileButton">
    <img src="/uploads/linkIcon.svg" alt="">
    Ссылка на CV
  </a>
</div>
