<div id="<%= dom_id profile %>" class="W_Profile">
  <div>
    <%= image_tag profile.profile_pic, class:"A_Pfp"%>
  </div>
  <p class="A_ProfileName">
    <%= profile.nick_name %>
  </p>
  <p>
    <%= profile.description %>
  </p>
  <p>
    <strong>Локация:</strong>
    <%= profile.location %>
  </p>
  <a href="mailto: <%= profile.user.email %>" class="A_ProfileButton">
    <img src="/uploads/linkIcon.svg" alt="">
    Email
  </a>
  <a href="mailto: <%= profile.user.email %>" class="A_ProfileButton">
    <img src="/uploads/linkIcon.svg" alt="">
    Ссылка на CV
  </a>
</div>
