<p style="color: green"><%= notice %></p>
<main class="fourColumns">
  <div class="O_Profile">
    <%= render @profile %>
    <%= link_to "Новый пост", new_admin_profile_post_path(@profile), class:"A_ProfileButton" %>
    <div class="W_Buttons O_AdminMenu">
      <p>Админское меню</p>
      <%= link_to "Edit this profile", edit_admin_profile_path(@profile), class:"A_ProfileButton"%>
      <%= link_to "Back to profiles", admin_profiles_path, class:"A_ProfileButton"%>
      <%= button_to "Destroy this profile", [:admin, @profile], method: :delete, class:"A_ProfileButton"%>
    </div>
  </div>
  <div class="W_Posts">
    <%= render @profile.posts%>
  </div>
</main>
