<div id="<%= dom_id user %>">
  <p>
    <strong>Id:</strong>
    <%= user.id %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>String:</strong>
    <%= user.string %>
  </p>

  <p>
    <strong>User status:</strong>
    <%= user.user_status %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Second name:</strong>
    <%= user.second_name %>
  </p>

</div>
