<div id="<%= dom_id post %>" class="post_card">
  <% if post.pic.url %>
    <%= image_tag post.pic.url, class:["A_VerticallImage", "A_HorizontalImage", "A_SmallVerticallImage"].sample%>
  <% end %>
  <div class="textContainer">
    <p>
      <%= post.post_title %>
    </p>
    <p>
      <%= post.link %>
    </p>
  </div>
  <% if can? :manage, post%>
    <div>
      <%= link_to "Edit this post", edit_admin_post_path(post) %>
      <%= button_to "Destroy this post", [:admin, post], method: :delete %>
    </div>
  <% end %>
</div>
