<div id="<%= dom_id post %>" class="post_card">
  <% if post.pic.url %>
    <%= image_tag post.pic.url, class:"image"%>
  <% end %>
  <div class="textContainer">
    <p>
      <strong>By user:</strong>
      <%= post.user.email %>
    </p>
    <p>
      <strong>Post title:</strong>
      <%= post.post_title %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= post.description %>
    </p>
    <p>
      <strong>Link:</strong>
      <%= post.link %>
    </p>
  </div>
</div>
<% if can? :manage, post%>
  <div>
    <%= link_to "Edit this post", edit_admin_post_path(post) %>
    <%= button_to "Destroy this post", [:admin, post], method: :delete %>
  </div>
<% end %>
