<%= form_with(model: [post], url: url,class:"O_NewForm") do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="W_FormSection">
    <div>
      <div class="W_FormRadio">
        <p class="A_FormLabel">Тип карточки <span>*</span></p>
        <div class="A_Input A_RadioButton">
          <div class="Q_Circle"></div>
          <%= form.label :type, 'Изображение' %>
          <%= form.radio_button :type, 'TextPost',class:"U_RealRadioButton" %>
        </div>
        <div class="A_Input A_RadioButton">
          <div class="Q_Circle"></div>
          <%= form.label :type, 'Фигма-пост' %>
          <%= form.radio_button :type, 'FigmaPost', class:"U_RealRadioButton" %>
        </div>
        <div class="A_Input A_RadioButton">
          <div class="Q_Circle"></div>
          <%= form.label :type, 'Видео' %>
          <%= form.radio_button :type, "VideoPost", class:"U_RealRadioButton" %>
        </div>
      </div>
    </div>
    <div>
      <p class="A_FormLabel">Название<span>*</span></p>
      <%= form.text_field :post_title, class:"A_Input" %>
    </div>
    <div>
      <p class="A_FormLabel">Изображение</p>
      <%= form.file_field :pic %>
    </div>
    <div>
      <p class="A_FormLabel">Описание</p>
      <%= form.text_area :description, class: 'A_Input A_TextArea' %>
    </div>
    <div>
      <p class="A_FormLabel">Ссылка</p>
      <%= form.text_field :link,class: 'A_Input' %>
    </div>
  </div>
  <div>
    <%= form.submit "Сохранить", class:'A_ButtonLink U_Gradient U_NoIcon' %>
  </div>
<% end %>
