<div class="post" id="<%= dom_id post %>">
  <p>
    <strong>Пост:</strong>
    <%= post.post_id %>
  </p>

  <p>
    <strong>Заголовок:</strong>
    <%= post.post_name %>
  </p>

  <p>
    <%= image_tag post.pic.url, width: 300 %>
  </p>

  <p>
    <strong>Описание:</strong>
    <%= post.description %>
  </p>

  <p>
    <strong>Ссылка:</strong>
    <%= post.link %>
  </p>

</div>
