<div id="<%= dom_id post %>" class="post_card">
  <% if post.reply_to_post_id != nil %>
    <p> Ответ к посту #<%=  post.reply_to_post_id%></p>
  <% end %>
  <% if post.pic.url %>
    <%= image_tag post.pic.url, class:["A_VerticallImage", "A_HorizontalImage", "A_SmallVerticallImage"].sample%>
  <% end %>
  <div class="textContainer">
    <p>
      <%= post.post_title %>
    </p>
    <p>
      <%= post.link %>
    </p>
  </div>
  <% if can? :manage, post%>
    <div>
      <%= link_to "Edit this post", edit_profile_post_path(post) %>
    </div>
  <% end %>
</div>
