<p style="color: green"><%= notice %></p>
<%= render @post, profile: @profile, post: @post %>
<div>
  <%= link_to "Edit this post", edit_admin_post_path(@post) %> |
  <%= link_to "Back to posts", admin_posts_path %>
  <%= button_to "Destroy this post", admin_post_path(@post), method: :delete %>
</div>
