  <%= link_to employment_opportunity_path(employment_opportunity), class:"M_VacancyCard", id:"dom_id employment_opportunity" do %>
  <div class="C_VacancyInfo">
    <div class="W_VacancyCardNameAndDate">
      <p class="A_VacancyCardName">
        <%= employment_opportunity.company_name %>
      </p>
      <div class="W_DotWithDate">
        <div class="Q_Dot"></div>
        <p class="A_VacancyCardDate">
          <% I18n.with_locale(:ru) do %>
            <%= time_ago_in_words(employment_opportunity.created_at) %> назад
          <% end %>
        </p>
      </div>
    </div>
    <div class="W_VacancyCardTitleAndLocation">
      <p class="A_VacancyCardTitle">
        <%= employment_opportunity.title %>
      </p>
      <p class="A_VacancyCardLocation">
        <%= "#{employment_opportunity.location}, #{employment_opportunity.work_environment}" %>
      </p>
    </div>
  </div>
  <div class="C_VacancyChips">
    <% if employment_opportunity.salary.present? %>
      <div class="A_VacancyChips">
        <p>
          <%=  employment_opportunity.salary%> ₽
        </p>
      </div>
    <% end%>
    <div class="A_VacancyChips U_<%= employment_opportunity.vacancy_type %>">
      <p>
        <%= I18n.t("vacancy_types.#{employment_opportunity.vacancy_type}", locale: :ru) %>
      </p>
    </div>
    <div></div>
  </div>
<% end%>
<% if can? :manage, employment_opportunity%>
<% end %>
