<div class="employment-opportunity-details">
  <h1><%= @employment_opportunity.title %></h1>
  <p><strong>Description:</strong> <%= @employment_opportunity.description %></p>
  <% if @employment_opportunity.vacancy_type.present? %>
    <p><strong>Type:</strong> <%= @employment_opportunity.vacancy_type %></p>
  <% end %>
  <% if @employment_opportunity.application_deadline %>
    <p><strong>Application Deadline:</strong> <%= @employment_opportunity.application_deadline.strftime("%B %d, %Y") %></p>
  <% end %>
  <% if @employment_opportunity.location.present? %>
    <p><strong>Location:</strong> <%= @employment_opportunity.location %></p>
  <% end %>
  <% if @employment_opportunity.status.present? %>
    <p><strong>Status:</strong> <%= @employment_opportunity.status.capitalize %></p>
  <% end %>
  <% if can?(:edit, @employment_opportunity) %>
    <%= link_to 'Edit this Employment Opportunity', edit_employment_opportunity_path(@employment_opportunity) %>
  <% end %>
  <%= link_to 'Назад к вакансиям', employment_opportunities_path, class: 'btn btn-primary' %>
</div>
