<nav>
  <div class="Logo">
    <img src="/uploads/deepface.svg" alt="">
    <p>adc оффер</p>
  </div>
  <div class="nav_links">
    <%= link_to "главная", welcome_index_url %>
    <%= link_to "о проекте", welcome_about_url %>
    <%= link_to "вакансии", employment_opportunities_path %>
    <a href="https://t.me/adcoffer", target="_blank">канал</a>
  </div>
  <% if user_signed_in? && current_user.admin == true %>
    <div>
      <%= link_to "Profiles", admin_profiles_url %>
      <%= link_to "Posts", admin_posts_url %>
      <%= link_to "Subscriptions", admin_subscriptions_url %>
      <%#= link_to current_user.email, edit_user_registration_path %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%#= link_to "Log in", new_user_session_path %>
      <%#= link_to "Register", new_user_registration_path %>
    </div>
  <% end %>
  <% if user_signed_in? && current_user.admin == false%>
    <%# link_to "Профиль", profile_path(current_user.profile) %>
    <div class="W_NavProfileWidget">
      <%= link_to profile_path(current_user.profile), class: "M_NavProfile" do %>
        <div><%= "#{current_user.name} #{current_user.surname}" %></div>
        <img class="A_Pfp" src=<%= "#{current_user.profile.profile_pic}" %> alt="">
      <% end %>
      <img class="A_NavProfileMenuToggler" src="/uploads/dropdown.svg" alt="">
    </div>
    <div class="W_navProfileMenu">
      <div class="W_Peak">
        <img class="Q_Peak" src="/uploads/nouse.svg" alt="">
      </div>
      <div class="M_navProfileMenuButtons">
        <%= link_to "настройки профиля", profile_path(current_user.profile), method: :delete %>
        <%= link_to "выйти", destroy_user_session_path, method: :delete %>
      </div>
    </div>
  <% else %>
    <%= link_to "Вход", new_user_session_path %>
  <%end %>
</nav>
<script></script>
